{% extends 'basesite.html' %}

{% block main_content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'compra_listado' %}">TiendaVirtual25</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'compra_listado' %}">Catálogo</a>
                </li>
                {% if user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'listado' %}">Gestión (Staff)</a>
                </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'perfil' %}">
                            <i class="bi bi-person-circle"></i> Mi Perfil ({{ user.username }})
                        </a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <span class="badge bg-secondary ms-2">Saldo: {{ user.saldo }}€</span>
                    </li>
                    <p></p>
                    <li class="nav-item ms-2">
                        <form action="{% url 'logout' %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-outline-danger">Cerrar Sesión</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

    <div class="container mt-5 pt-5">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
{% endblock %}