{% extends 'tienda/base.html' %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Catálogo Maestro de Productos</h2>
    <a href="{% url 'crear' %}" class="btn btn-primary">+ Nuevo Producto</a>
</div>

<div class="table-responsive bg-white p-3 rounded shadow-sm">
    <table class="table align-middle">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Stock</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for prod in ProductosLista %}
            <tr>
                <td>{{ prod.id }}</td>
                <td><strong>{{ prod.nombre }}</strong></td>
                <td>{{ prod.marca.nombre }}</td>
                <td>{{ prod.unidades }}</td>
                <td>{{ prod.precio }}€</td>
                <td>
                    <a href="{% url 'producto_detalle' prod.pk %}" class="btn btn-sm btn-info text-white">Ver</a>
                    <a href="{% url 'producto_editar' prod.pk %}" class="btn btn-sm btn-warning">Editar</a>
                    <a href="{% url 'producto_borrar' prod.pk %}" class="btn btn-sm btn-danger">Borrar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}